# General config
ENVIRONMENT=development
DATABASE_FILE=database.sqlite
TIMEZONE=Europe/Berlin
LOCALE=de_DE.UTF-8
DATA_ROOT_PATH=./data

# Twitch
# If you specify both an access token and a refresh token, they will be used. However, in any
# case you have to specify the client secret. If you don't specify the tokens, the OAuth flow
# will be started to obtain those tokens. The tokens are stored in this file automatically
# (given that it is named `.env` and is in the root directory of the project).
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_ACCESS_TOKEN=
TWITCH_REFRESH_TOKEN=
TWITCH_CHANNEL=
TWITCH_CHATBOT_WEB_INTERFACE_CLIENT_ID=
TWITCH_CHATBOT_WEB_INTERFACE_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:8080/auth/twitch/callback
TWITCH_EVENTSUB_PUBLIC_URL=
TWITCH_EVENTSUB_LISTEN_PORT=8081
TWITCH_EVENTSUB_SECRET=change-this-secret-to-something-secure
JWT_SECRET=change-this-secret-to-something-secure

# Discord
DISCORD_BOT_TOKEN=
DISCORD_MODERATOR_ROLE_ID=
