Hello {{ broadcaster_name }},

the Twitch user {{ uploader_display_name }} (user ID {{ uploader_id }}) has just uploaded a new clip with the suggested command name "!{{ command_name }}". Visit {{ dashboard_url }} to review and approve or reject the clip.

Best regards,
{{ bot_name }}
